name: ingress-monitor-controller

global:
  # labels added on all components of chart in addition to some default labels
  labels: {}

replicaCount: 1

image:
  repository: stakater/ingressmonitorcontroller
  tag: v2.2.3
  pullPolicy: IfNotPresent
imagePullSecrets: []

kube-rbac-proxy:
  image:
    repository: gcr.io/kubebuilder/kube-rbac-proxy
    tag: v0.8.0
    pullPolicy: IfNotPresent
  resources:
    {}
  securityContext:
    {}
    # capabilities:
    #   drop:
    #   - ALL
    # readOnlyRootFilesystem: true
    # runAsNonRoot: true
    # runAsUser: 1000

# Partial override for ingress-monitor-controller.fullname template (will keep the release name)
nameOverride: ""

# Full override for ingress-monitor-controller.fullname template
fullnameOverride: ""

# Same as nameOverride but for the namespace.
namespaceOverride: ""

# Specifies which namespaces IMC should have access to
# Leave empty for full access or specify a comma separated list of namespaces to watch
watchNamespaces: ""

# Number of concurrent reconciles
maxConcurrentReconciles: 1

# Name of secret containing
configSecretName: "imc-config"

# Monitoring Configuration
serviceMonitor:
  enabled: false

rbac:
  create: true
  allowProxyRole: true
  allowMetricsReaderRole: true
  allowLeaderElectionRole: true
  secretViewerRole: true

serviceAccount:
  create: true
  annotations: {}
  labels: {}
  # If not set and create is true, a name is generated using the fullname template
  name: ""

resources:
  {}
  # limits:
  #   cpu: 100m
  #   memory: 128Mi
  # requests:
  #   cpu: 100m
  #   memory: 128Mi

deploymentAnnotations: {}

podAnnotations: {}

podSecurityContext:
  {}
  # fsGroup: 2000

securityContext:
  {}
  # capabilities:
  #   drop:
  #   - ALL
  # readOnlyRootFilesystem: true
  # runAsNonRoot: true
  # runAsUser: 1000

nodeSelector: {}

tolerations: []

affinity: {}

service:
  type: ClusterIP
  port: 443

env: []

envFrom: []

serviceManagedBy: helm
