apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "ingress-monitor-controller.fullname" . }}
  namespace: {{ .Release.Namespace }}
  labels:
    {{- include "ingress-monitor-controller.labels" . | nindent 4 }}
    control-plane: controller-manager
spec:
  replicas: {{ .Values.replicaCount }}
  selector:
    matchLabels:
      {{- include "ingress-monitor-controller.selectorLabels" . | nindent 6 }}
  template:
    metadata:
      {{- with .Values.podAnnotations }}
      annotations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      labels:
        {{- include "ingress-monitor-controller.selectorLabels" . | nindent 8 }}
    spec:
      {{- with .Values.imagePullSecrets }}
      imagePullSecrets:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      serviceAccountName: {{ include "ingress-monitor-controller.serviceAccountName" . }}
      securityContext:
        {{- toYaml .Values.podSecurityContext | nindent 8 }}
      containers:
      {{- with (index .Values "kube-rbac-proxy") }}
      - args:
        - --secure-listen-address=0.0.0.0:8443
        - --upstream=http://127.0.0.1:8080/
        - --logtostderr=true
        - --v=10
        image: {{ printf "%s:%s" .image.repository .image.tag | default "gcr.io/kubebuilder/kube-rbac-proxy:v0.8.0" | quote }}
        imagePullPolicy: {{ .image.pullPolicy | quote }}
        name: kube-rbac-proxy
        ports:
        - containerPort: 8443
          name: https
      {{- end }}
      - args:
        - --health-probe-bind-address=:8081
        - --metrics-bind-address=127.0.0.1:8080
        - --leader-elect
        command:
        - /manager
        env:
        - name: WATCH_NAMESPACE
          value: {{ .Values.watchNamespaces | quote }}
        - name: CONFIG_SECRET_NAME
          value: {{ default "imc-config" .Values.configSecretName }}
        {{- if gt (len .Values.env) 0 }}
        {{- toYaml .Values.env | nindent 8 }}
        {{- end }}
        {{- if gt (len .Values.envFrom) 0 }}
        envFrom:
        {{- toYaml .Values.envFrom | nindent 8 }}
        {{- end }}
        {{ if .Values.kube-rbac-proxy.resources }}
         resources:
{{ toYaml .Values.kube-rbac-proxy.resources | indent 10 }}
        {{- end }}   
        name: manager
        image: "{{ .Values.image.repository }}:{{ .Values.image.tag | default .Chart.AppVersion }}"
        imagePullPolicy: {{ .Values.image.pullPolicy }}
        livenessProbe:
          httpGet:
            path: /healthz
            port: 8081
          initialDelaySeconds: 15
          periodSeconds: 20
        readinessProbe:
          httpGet:
            path: /readyz
            port: 8081
          initialDelaySeconds: 5
          periodSeconds: 10
        {{ if .Values.manager.resources }}
         resources:
{{ toYaml .Values.manager.resources | indent 10 }}
        {{- end }}   
      terminationGracePeriodSeconds: 10
      {{- with .Values.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.affinity }}
      affinity:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
---
