{{- if .Values.rbac.create -}}
{{- if ne .Values.watchNamespaces "" }}
{{- range .Values.watchNamespaces | split "," }}---
apiVersion: rbac.authorization.k8s.io/v1
kind: RoleBinding
metadata:
  name: {{ include "ingress-monitor-controller.fullname" . }}-manager-rolebinding
  namespace: {{ . | trim }}
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: Role
  name: {{ include "ingress-monitor-controller.fullname" . }}-manager-role
subjects:
- kind: ServiceAccount
  name: {{ include "ingress-monitor-controller.serviceAccountName" . }}
  namespace: {{ . | trim }}
{{- end }}
{{- end }}

{{- if .Values.rbac.allowLeaderElectionRole }}
---
apiVersion: rbac.authorization.k8s.io/v1
kind: RoleBinding
metadata:
  name: {{ include "ingress-monitor-controller.fullname" . }}-leader-election-rolebinding
  namespace: {{ include "ingress-monitor-controller.namespace" . }}
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: Role
  name: {{ include "ingress-monitor-controller.fullname" . }}-leader-election-role
subjects:
- kind: ServiceAccount
  name: {{ include "ingress-monitor-controller.serviceAccountName" . }}
  namespace: {{ include "ingress-monitor-controller.namespace" . }}
{{- end }}

{{- if .Values.rbac.secretViewerRole }}
---
apiVersion: rbac.authorization.k8s.io/v1
kind: RoleBinding
metadata:
  name: {{ include "ingress-monitor-controller.fullname" . }}-secret-viewer-rolebinding
  namespace: {{ include "ingress-monitor-controller.namespace" . }}
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: Role
  name: {{ include "ingress-monitor-controller.fullname" . }}-secret-viewer-role
subjects:
- kind: ServiceAccount
  name: {{ include "ingress-monitor-controller.serviceAccountName" . }}
  namespace: {{ include "ingress-monitor-controller.namespace" . }}
{{- end }}

{{- end }}
