{{- if .Values.serviceMonitor.enabled -}}
---
apiVersion: monitoring.coreos.com/v1
kind: ServiceMonitor
metadata:
  name: '{{ .Values.name }}'
  namespace: '{{ .Values.namespace | default .Release.Namespace }}'
  labels:
    app: '{{ .Chart.Name }}'
    app.kubernetes.io/name: '{{ .Chart.Name }}'
    app.kubernetes.io/instance: '{{ .Values.name }}'
spec:
  selector:
    matchLabels:
      app: '{{ .Chart.Name }}'
      app.kubernetes.io/name: '{{ .Chart.Name }}'
      app.kubernetes.io/instance: '{{ .Values.name }}'
  endpoints:
    - path: /metrics
      port: https
      scheme: https
      bearerTokenFile: /var/run/secrets/kubernetes.io/serviceaccount/token
      tlsConfig:
        insecureSkipVerify: true
  namespaceSelector:
    matchNames:
    - '{{ .Values.namespace | default .Release.Namespace }}'
{{- end }}
